<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/index.css">
  <script src="./js/script.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <div class="loginContainer ">
    <h1>Create a new account:</h1>
    <div class="inputContainer">
      <input type="text" placeholder="username">
      <input type="password" placeholder="password">
      <input type="password" placeholder="password (again)">
    </div>
    <button>Sign up</button>
  </div>

</body>
</html>
